// COLORS
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #369300;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: rgba(0,0,0, .2);

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
